<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="additem" class="card card-body container mt-5">
    <h3>Adicionar item</h3>
    <form th:action="@{__${currentPage}__/add}" method="post">
        <div class="mb-3">
            <label for="username">Categoria</label>
            <input type="text" class="form-control" id="username" name="username" autofocus="autofocus" required>
        </div>
        <div class="mb-3">
            <label for="itemId">Título</label>
            <input type="text" class="form-control" id="itemId" name="itemId" required >
        </div>
        <div class="mb-3">
            <label for="username">Volume</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="username">Autor</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <button type="submit" class="btn btn-success">Adicionar à lista</button>
    </form>
</html>