<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="navbar">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container">
                    <a class="navbar-brand" href="#">e-Scambo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggler">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a th:class="nav-link" th:classappend="${currentPage == 'search'} ? 'active' : ''" th:href="@{/search}">Pesquisar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:classappend="${currentPage == 'negotiations'} ? 'active' : ''" th:href="@{/negotiations}">Negociações em andamento</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:classappend="${currentPage == 'wishlist'} ? 'active' : ''" th:href="@{/wishlist}">Lista de desejos</a>
                            </li>
                        </ul>
                        <form th:action="@{/logout}" method="post" class="form-inline my-2 my-lg-0">
                            <button class="btn btn-outline-light" type="submit">Encerrar sessão</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>