<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="navbar">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container">
                    <a class="navbar-brand" href="/search">e-Scambo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggler">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a th:class="nav-link" th:classappend="${currentPage == 'search'} ? 'active' : ''" th:href="@{/search}">Pesquisar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:classappend="${currentPage == 'negotiations'} ? 'active' : ''" th:href="@{/negotiations}">Negociações em andamento</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:classappend="${currentPage == 'wishlist'} ? 'active' : ''" th:href="@{/wishlist}">Lista de desejos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:classappend="${currentPage == 'disposelist'} ? 'active' : ''" th:href="@{/disposelist}">Meus itens</a>
                            </li>
                        </ul>
                        <div class="dropdown">
                            <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${#authentication.name}">username</button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Excluir conta</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form th:action="@{/logout}" method="post">
                                        <button class="dropdown-item" type="submit">Encerrar sessão</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>