<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="searchbar">
<body>
    <form th:action="@{/search}" method="get" style="position: relative; width: 400px;">
        <h4>Buscar por</h4>
        <div class="btn-group mb-2" role="group" style="position: relative; width: 400px;">
            <input type="radio" class="btn-check" name="filter" id="itemname" th:value="'itemname'" th:checked="${filter == null or filter == 'itemname'}" autocomplete="off">
            <label class="btn btn-outline-primary" for="itemname">Título</label>

            <input type="radio" class="btn-check" name="filter" id="category" th:value="'category'" th:checked="${filter == 'category'}" autocomplete="off">
            <label class="btn btn-outline-primary" for="category">Categoria</label>

            <input type="radio" class="btn-check" name="filter" id="volume" th:value="'volume'" th:checked="${filter == 'volume'}" autocomplete="off">
            <label class="btn btn-outline-primary" for="volume">Volume</label>

            <input type="radio" class="btn-check" name="filter" id="author" th:value="'author'" th:checked="${filter == 'author'}" autocomplete="off">
            <label class="btn btn-outline-primary" for="author">Autor</label>
        </div>
        <input type="text" id="search" class="form-control" name="q" placeholder="Pesquisar itens..." th:value="${query}">
        <div id="suggestions"></div>
    </form>
</body>
</div>
</html>