<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main :: html(
          pageTitle='Resultados da pesquisa',
          currentPage='searchresults',
          content=~{::main}
      )}">
<main>
<body>
<!-- Search Bar (below navbar with padding) -->
<div class="container mt-4">
    <div th:replace="~{fragments/searchbar :: searchbar}"></div>
</div>

<!-- Search Results -->
<div class="container mt-4">
    <h4 th:text="'Resultados:'"></h4>
    <ul class="list-group mt-3">
        <li class="list-group-item" th:each="dispose : ${disposes}" th:text="${dispose.user.username} + ': ' + ${dispose.item.itemname}"></li>
    </ul>
</div>
</body>
</main>
</html>
